KIRAPAY_API_KEY=YOUR_API_KEY_HERE
KIRAPAY_WEBHOOK_SECRET=YOUR_WEBHOOK_SECRET
APP_BASE_URL=http://localhost:5173
KIRAPAY_TOKEN_OUT_CHAIN_ID=8453
KIRAPAY_TOKEN_OUT_ADDRESS=0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913
KIRAPAY_RECEIVER_ADDRESS=0x8356D265646a397b2Dacf0e05A4973E7676597f4
KIRAPAY_FIAT_CURRENCY=USD
PORT=8787
